<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Minimalist Blog{% endblock %}</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <a href="{% url 'portfolio' %}" class="logo">Vatsal Gohel</a>
        <nav class="site-nav">
          <a href="{% url 'portfolio' %}">Portfolio</a>
          <a href="{% url 'post_list' %}">Blog</a>
        </nav>
      </div>
    </header>

    <main class="container">{% block content %} {% endblock content %}</main>

    <footer class="site-footer">
      <div class="container">
        <p>&copy; {% now "Y" %} Minimalist Blog. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
